// colors
.bg-gray{
  background-color: #F8F9FA;
}

.success{
  color: #198754;
}

.icon-black{
  color: #212529;
}

// border
.border-gray-400 {
  border: 1px solid #CED4DA;
}

.border-3sides-gray-400{
  border: 1px solid #CED4DA;
  border-top: 0;
}

.border-bottom-black-900{
  border-bottom: 1px solid #212529;
}

.border-top-gray-400 {
  border-top: 1px solid #CED4DA;
}

.border-bottom-gray-400{
  border-bottom: 1px solid #CED4DA;
}

.border-top-radius{
  border-radius: 2px 2px 0 0;
}

.border-bottom-radius{
  border-radius: 0 0 2px 2px;
}

.border-left-transparent{
  border-left: 4px solid transparent;
}

// width
.mailbox-width{
  width: 35%;
}

.email-width{
  width: 63%;
}

.mail-img-emily-width{
  width: 28%;
}
.mail-img-andy-width{
  width: 15%;
}

// gap
.mail-content-gap {
  gap: 8px;
}
.text-editor-icon-gap {
  gap: 24px;
}

// position
.reply-btn-position{
  position: absolute;
  bottom: 22px;
  right: 24px;
}

// alignments
.align-super{
  vertical-align: super;
}

// a class
.btn-a-link {
  display: block;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
  color: #198754;
  text-decoration: none;

  &:hover {
    color: #FFFFFF;
    background-color: #198754;
  }
}

.a-text-dark{
  color: #212529;
  &:hover{
    color: #198754;
  }
}

// img class
.my-img {
  display: block;
  max-width: 100%;
  height: auto;
}

// variant
.hover-border{
  &:hover{
    cursor: pointer;
    color: #198754;
    border-left: 4px solid #198754;
  }
}

.hover-bg-gray{
  &:hover {
    background-color: #F8F9FA;
  }
}

.hover-pointer{
  &:hover {
    cursor: pointer;
  }
}

.hover-pointer-tranform{
  &:hover{
    transform: scale(1.2);
  }
}

// extensions
.profile-picture{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav {
  display: block;
}