<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/scss/all.css" />
    <title><%- title %></title>
  </head>

  <body>
    <div class="container d-flex px-5">
      <aside
        class="d-flex flex-column justify-content-between bg-gray py-8 aside-width"
      >
        <div class="nav">
          <a class="ms-8" href="index.html">
            <img
              class="my-img"
              src="./assets/images/logo-ANSWER.svg"
              alt="logo"
            />
          </a>
          <ul class="list-unstyled mt-8">
            <li class="border-left-transparent hover-border ps-7 py-0p5">
              <a class="d-flex a-text-dark" href="#">
                <i class="material-icons"> assessment </i>
                <h2 class="text-capitalize m-0 ms-4">dashboard</h2>
              </a>
            </li>
            <li class="border-left-transparent hover-border ps-7 mt-6 py-0p5">
              <a class="d-flex a-text-dark" href="#">
                <i class="material-icons">question_answer</i>
                <h2 class="text-capitalize m-0 ms-4">question</h2>
              </a>
            </li>
            <li class="border-left-transparent hover-border ps-7 mt-6 py-0p5">
              <a class="d-flex a-text-dark" href="index.html">
                <i class="material-icons">assignment</i>
                <h2 class="text-capitalize m-0 ms-4">assignment</h2>
              </a>
            </li>
            <li class="border-left-transparent hover-border ps-7 mt-6 py-0p5">
              <a class="d-flex a-text-dark" href="#">
                <i class="material-icons">video_library</i>
                <h2 class="text-capitalize m-0 ms-4">course</h2>
              </a>
            </li>
            <li class="border-left-transparent hover-border ps-7 mt-6 py-0p5">
              <a class="d-flex a-text-dark" href="admin.html">
                <i class="material-icons">group</i>
                <h2 class="text-capitalize m-0 ms-4">admin</h2>
              </a>
            </li>
            <li class="border-left-transparent hover-border ps-7 mt-6 py-0p5">
              <a class="d-flex a-text-dark" href="#">
                <i class="material-icons">settings</i>
                <h2 class="text-capitalize m-0 ms-4">settings</h2>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer d-flex align-items-center pt-90">
          <img
            class="my-img rounded-circle profile-picture ms-8"
            src="./assets/images/andychen.jpeg"
            alt="andychen"
          />
          <h2 class="text-capitalize m-0 ps-4">
            andy chen
            <a class="pt-1 text-lowercase" href="mailto:andy0401@mail.com"
              ><span>andy0401@mail.com</span></a
            >
          </h2>
        </div>
      </aside>

      <main class="pos-r"><%- contents %></main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
